{% if matches|length > 0 %}
<br>
<p><h2>Game Stats</h2></p>
<table width="100%">
   <thead>
        <th align="center"># of Matches</th>
        <th align="center">Player Victories</th>
        <th align="center">Tied</th>
        <th align="center">Computer Victories</th>
    </thead> 
    <tbody>       
        <tr>
            <td align="center"><em>{{ matches | length }} </em></td>
            <td align="center"> <em>{{ stats['wins'] }}</em></td>
            <td align="center"> <em>{{ stats['ties'] }}</em></td>
            <td align="center"> <em>{{ stats['losses'] }}</em></td>
        </tr>
    </tbody>
</table>
<br>
<p><h2>Selection Stats</h2></p>
<table width="100%">
    <thead>
        <th align="left">Choice</th>
        <th align="left">Player</th>
        <th align="left">Computer</th>
    </thead> 
    <tbody> 
        <tr>
            <td align="left">Rock</td>
            <td align="left">{{ stats['player_rock'] }}</td>
            <td align="left">{{ stats['comp_rock'] }}</td>
        </tr>
        <tr>
            <td align="left">Paper</td>
            <td align="left">{{ stats['player_paper'] }}</td>
            <td align="left">{{ stats['comp_paper'] }}</td>
        </tr>
        <tr>
            <td align="left">Scissors</td>
            <td align="left">{{ stats['player_scissors'] }}</td>
            <td align="left">{{ stats['comp_scissors'] }}</td>
        </tr>
        <tr>
            <td align="left">Spock</td>
            <td align="left">{{ stats['player_spock'] }}</td>
            <td align="left">{{ stats['comp_spock'] }}</td>
        </tr>
        <tr>
            <td align="left">Lizard</td>
            <td align="left">{{ stats['player_lizard'] }}</td>
            <td align="left">{{ stats['comp_lizard'] }}</td>
        </tr>
     </tbody>
</table>
{% endif %}
